---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- Group publications by year -->
{% assign sorted_publications = site.publications | sort: 'date' | reverse %}
{% assign current_year = '' %}

{% for post in sorted_publications %}
  {% assign year = post.date | date: "%Y" %}
  
  <!-- Check if we're in a new year and need to print it -->
  {% if year != current_year %}
    <h2>{{ year }}</h2>
    {% assign current_year = year %}
  {% endif %}
  
  <ul>
    <li>
      <!-- Title as a clickable link -->
      <a href="{{ post.permalink }}">{{ post.title }}</a>.
      
      <!-- Authors list -->
      {{ post.authors }}. 
      
      <!-- Venue and date -->
      <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}.
      
      <!-- Bib link, if available -->
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">[bib]</a>
      {% endif %}
    </li>
  </ul>
  
{% endfor %}
